@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: var(--mainFont);
}

:root {
    /* Colors */
    --primary: #171717;
    --secondary: #ededed;
    --tertiary: #ababab;
    --bgBtnColot: #1E1E1E;

    /* Measures */
    --mainMeasure: 1em;
    --secMainMeasure: 3em;
    --secMeasure: 2em;
    --rdMeasure: 0.5em;
    --thMeasure: 0.2em;
    --diffMeasure: 0.01em;
    --fontSizeTitle: 1.3em;
    --fontSizeParagraph: 1.1em;

    /* Fonts */
    --mainFont: "Outfit", serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------ */

/* MAIN */
main {
    display: grid;
    place-items: center; 
}

/* TOP */
#changelog-top {
    padding: var(--secMeasure) 0 var(--secMeasure) 0;
}

#changelog-top .container-changelog-top-texts {
    text-align: center;
}

.container-changelog-top-texts .changelog-title{
    font-weight: 300;
    font-size: 2em;
}

.container-changelog-top-texts .changelog-desc {
    color: var(--tertiary);
}


/* MIDDLE */
#changelog-middle {
    display: flex;
    align-items: center;
}

#changelog-middle #changelog-dates {}

#changelog-middle #changelog-dates .time-period {
    margin-top: var(--secMeasure);
}

.line {
    border: var(--diffMeasure) solid var(--primary);
    margin: 2em;
    height: 30em;
}


.dot {
    position: absolute;
    border: var(--diffMeasure) solid var(--primary);
    border-radius: 100%;
    background-color: var(--primary);
    width: var(--mainMeasure);
    height: var(--mainMeasure);
    top: 17.9em;
    /* bottom: 0; */
    right: 53.25em;
    /* left: 0; */
}

.dot:nth-child(1) {
    margin-top: 19.5em;
}

.dot:nth-child(2) {
    margin-top: 16.3em;
}

.dot:nth-child(3) {
    margin-top: 13em;
}

.dot:nth-child(4) {
    margin-top: 9.7em;
}

.dot:nth-child(5) {
    margin-top: 6.4em;
}

.dot:nth-child(6) {
    margin-top: 3.2em;
}

#changelog-middle #desc {}
#changelog-middle #desc .container-holder-changes {}

#changelog-middle #desc .container-holder-changes .changes {
    margin-top: var(--secMeasure);
}

/* BOTTOM */
#changelog-bottom {}

.btn {
    border-radius: 1em;
    border: none;
    padding: var(--mainMeasure) var(--secMainMeasure);
    color: var(--secondary);
    background-color: var(--bgBtnColot);
    cursor: pointer;
}